<!DOCTYPE html>
<html>
<head>
    <title>User Home</title>
</head>
<body>
    <h2>Welcome, <%= user.name %>!</h2>
    <p>Email: <%= user.email %></p>
    <a href="/logout">Logout</a>
    <br>
    <a href="/profile"><button>Edit Profile</button></a>

</body>
</html>
